body {
  background-color: #9944c4;
}

h4 {
  text-align: center;
  font-size: 25px;
}

#chucknoriss {
  text-align: center;
  font-size: 25px;
  border: solid 2px black;
}

.btn {
  margin-left: -37px
}

@media (max-width: 48em) {
.one {
  display: none;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}
