.video-container {
  position: fixed;
  right:0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  overflow: hidden;
}

#video-bg {
  width:100%;
}

.logo {
  width:200px;
  height:auto;
  margin-left: 5px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 35px;
  color: orange;
  display:block;
  transition: 0.5s;
  text-decoration: none;
}

.sidenav a:hover {
  color: blue;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 45px;
  margin-left: 129px;
}
